html, body, html body {
    background: #222222;
    margin: 0;
    padding: 0;
    color: #FFF;
    text-align: center;
    font-family: sans-serif;
}
.logo {
    max-width: 100%;
    background-size: cover;
}
a.btn img.img-block,
.img-block {
    max-width: 100%;
    padding: 3px;
}
.btn-img {
    padding: 0;
    opacity: 0.75;
}
.btn-img:hover {
    opacity: 0.95;
}
#credits {
    display: block;
    position: relative;
    width: 100%;
    padding: 30px 0 60px;
}
p.credits {
    color: #DDD;
    font-weight: normal;
    font-size: 80%;
}
.description {
    display: block;
    position: relative;
    padding: 10px 15%;
    font-family: 'Teko', sans-serif;
    font-weight: normal;
}
#content {
    display: block;
    position: relative;
    padding: 90px 0 30px;
}
.intro {
    font-size: 1em;
    line-height: 1.4em;
    font-weight: normal;
}
.intro.caps {
    text-transform: uppercase;
}
.glow {
    text-transform: uppercase;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}
@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #000, 0 0 20px #fff, 0 0 30px #7bacff, 0 0 40px #7bacff, 0 0 50px #7bacff, 0 0 60px #7bacff, 0 0 70px #7bacff;
      opacity: 0.9;
  }
  to {
    text-shadow: 0 0 20px #000, 0 0 30px #7bacff, 0 0 40px #7bacff, 0 0 50px #7bacff, 0 0 60px #7bacff, 0 0 70px #7bacff, 0 0 80px #7bacff;
      opacity: 0.8;
  }
}  
#grid:before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 200px;
    bottom: 0;
    left: 0;
    z-index: 999;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,3f4c6b+100&0+0,1+100 */
background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, #222 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,#222 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,#222 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#222222',GradientType=0 ); /* IE6-9 */
}

.meta,
.bg {
    display: block;
    position: relative;
    z-index: 88;
}
.meta {
    z-index: 99;
}
a {
    color: #48bffb;
}
a:hover {
    color: #ffff99;
}

/*

BOOTSRAP

*/
.btn-xl {
    font-size: 1em;
    padding: 0.8em;
    line-height: 1.4em;
    margin: 5px;
}
.btn-outline-light {
    background: transparent;
    border-color: #AAA;
    color: #48bffb;
}
.btn-outline-light:hover {
    background: #000;
    border-color: #888;
    color: #FFF;
}

.electro {
    font-family: 'Electrolize', sans-serif;
    color: #48bffb;
    text-transform: uppercase;
    text-shadow: 0 0 2px #000;
    animation: flux 0.1s linear infinite;
    -moz-animation: flux 0.1s linear infinite;
    -webkit-animation: flux 0.1s linear infinite;
    -o-animation: flux 0.1s linear infinite;
    border-bottom: 3px double #000;
    padding-bottom: 15px;
    margin-bottom: 15px;
}
.electro span {
    font-family: 'Electrolize', sans-serif;
    color: #48bffb;
    text-transform: uppercase;
    text-shadow: 0 0 2px #000;
    animation: flux 0.2s linear infinite;
    -moz-animation: flux 0.2s linear infinite;
    -webkit-animation: flux 0.2s linear infinite;
    -o-animation: flux 0.2s linear infinite;
}

@keyframes flux {
  0%,
  100% {
    text-shadow: 0 0 1vw #1041FF, 0 0 3vw #1041FF, 0 0 10vw #1041FF, 0 0 10vw #1041FF, 0 0 .4vw #8BFDFE, .5vw .5vw .1vw #147280;
    color: #FFF;
      opacity: 0.6;
  }
  50% {
    text-shadow: 0 0 .5vw #082180, 0 0 1.5vw #082180, 0 0 5vw #082180, 0 0 5vw #082180, 0 0 .2vw #082180, .5vw .5vw .1vw #0A3940;
    color: #48bffb;
    opacity: 0.9;
  }
}

/*

TO CLEAN UO

*/

/* HEADER */
#credits,
#grid {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    background: url(../img/grid.gif) no-repeat 0 50%;
    background-size: 100% 100%;
    z-index: 999;
    /*background-size: cover;*/
}

#credits {
    position: relative;
    height: auto;
}

#container {
    background: #222;
    display: block;
    position: absolute;
    top: 0;
    width: 100%;
    height: 51%;
    overflow: hidden;
    opacity: 0.75;
    touch-action: none;
    z-index: 99;
}

#meta {
    display: block;
    position: absolute;
    top: 0;
    width: 100%;
    padding: 30px;
    text-align: center;
    z-index: 9999;
}

#space {
    display: block;
    position: relative;
    width: 100%;
    margin: 60px 0;
    border-top: 3px double #48bffb;
    border-bottom: 3px double #48bffb;
    padding: 60px 0;
    z-index: 99999;
    min-height: 300px;
    background: #000;
}
#space .row {
    position: relative;
    z-index: 999999;
    opacity: 1;
}

#container:before,
#space:before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    z-index: 999;
    opacity: 0.3;
    background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
	background-size: 400% 400%;
	-webkit-animation: Gradient 15s ease infinite;
	-moz-animation: Gradient 15s ease infinite;
	animation: Gradient 15s ease infinite;
}

@-webkit-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@-moz-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

#container:after,
#space:after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    z-index: 9999;
    background-image: url(../img/galaxy-01-low.gif);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 200% 200%;
    opacity: 0.2;
}

/*

CLEANER

*/

div.loading {
    opacity: 1;
}

.btn {
  box-shadow: 0 2px 4px #000;
  position: relative;
  transform: scale(0.9);
  transition: 0.1s;
  overflow: hidden;
}

.btn:hover {
  transform: scale(1);
  box-shadow: 0 2px 4px #000, 0 8px 32px rgba(0, 0, 0, 0.5);
}


#container {
    background: linear-gradient(360deg, #151515, #11235d, #27115d);
    background-size: 600% 600%;

    -webkit-animation: AnimationName 30s ease infinite;
    -moz-animation: AnimationName 30s ease infinite;
    animation: AnimationName 30s ease infinite;
}

@-webkit-keyframes AnimationName {
    0%{background-position:50% 0%}
    50%{background-position:50% 100%}
    100%{background-position:50% 0%}
}
@-moz-keyframes AnimationName {
    0%{background-position:50% 0%}
    50%{background-position:50% 100%}
    100%{background-position:50% 0%}
}
@keyframes AnimationName {
    0%{background-position:50% 0%}
    50%{background-position:50% 100%}
    100%{background-position:50% 0%}
}


@media only screen and (max-width : 768px) {
    .row .col-md-6:first-child {
        margin-bottom: 60px;
    }
}